/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Universal Styling */

* {
    box-sizing: border-box;
    
}


body {
    margin: 0px;
    background: #14273d;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    overflow: auto;
}

/* Navbar Styling */
.navbar {
    display: grid;
    grid-template-columns: repeat(5, 400px 1fr 1fr 1fr 1fr);  
      

  
     grid-gap: 10px;   
     margin-left: 0px;
     margin-top: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}


li:nth-child(1) {
    margin-right: 200px;
    
}

li:nth-child(2) {
    margin-left: 340px;
}

.nav-link {
    
    padding: 10px 30px;
    padding-top: 5px;
    border-radius: 50px;
}

.nav-link:not(:first-of-type) {
    background-color: #17375b;
    transition: transform 0.3s;
}

.nav-link:not(:first-of-type):hover {
    background-color: #4475e2;
    cursor: pointer;
    transform: translateY(5px);
}

/* Navbar Styling Ends */

/* Hero Section Styling */

.hero-section {
    
    /* display: grid;
    grid-template-columns: repeat(2, 700px 1fr); */
    
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    /
}

.hero-section-content {
   
    margin-left: 50px;
    margin-bottom: 100px;
}

.hero-section-content h3 {
    margin-top: -35px;
    color: #4475e2;
}

.hero-section-content hr {
    width: 130px;
    margin-left: 0px;
    margin-top: -10px;
}

.hero-section-content p {
   line-height: 1.5;
}

.hero-section-content .btn {
    border: none;
    outline: none;
    padding: 15px 45px;
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: transform .3s;
}

.hero-section-content .btn:hover {
    transform: translateY(5px);
}

.hero-section-content .btn1 {
    background: #17375b;
}

.hero-section-content .btn1:hover {
    background-color: #4475e2;
}

.hero-section-content .btn2 {
    border: 2px solid #4475e2;
    margin-left: 10px;
    color: #4475e2;
}

.hero-section-content .btn2:hover {
    background: #4475e2;
    color: #fff;
}

.hero-section-img {
    width: 100%;
    margin-top: 10px;
}

/* Hero Section Styling Ends*/



/* social media icons styling */

.social-media {
    transform: translateY(80px) translateX(30px);
}

.social-media i {
    font-size: 35px;
    border: 2px solid #4475e2;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 50%;
}

.social-media i:hover {
    background: #4475e2;
    color: #fff;
    transform: translateY(5px);
}

/* social media icons styling ends*/

/* Footer styling */

.footer {
    /* display: grid;
    grid-template-columns: repeat(4, 500px 1fr 1fr 1fr); */
   
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* grid-gap: 20px; */
    text-align: center;
    background-color: #17375b;
    float: left;
    
}

.footer-link {
    text-align: center;
    padding: 10px 30px;
    /* border-radius: 50px; */
}

/* Footer styling Ends*/

.row::after {
    content: "";
    clear: both;
    display: inline-block;
  }
  
   [class*="col-"] {
     float: left; 
    
  } 

  
  
  .col-6 {width: 50%;}
  
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    [class*="col-"] {
        width: 100%;
      }
    .navbar {
        width: 100%;
    }
  }

